body,html{
  height: 100%;
}

.g_ruler_container{



  .ruler_line_column,.ruler_line_reverse-column{
    position: fixed;
    z-index: 100000000000;

    height: 100%;
    width: 4px;
    left: 0;
    top:0;
    background: #007aff;
    transform: scaleX(0.5);
  }
  .ruler_line_reverse-column{
    left: initial;
    right: 0;
  }

  .ruler_line_row,.ruler_line_reverse-row{
    position: fixed;
    z-index: 100000000000;
    top:0;
    left: 0;
    background: #007aff;
    height: 4px;
    width: 100%;
    transform: scaleY(0.5);

  }
  .ruler_line_reverse-row{
    top: initial;
    bottom: 0;
  }
}
